.cards{
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.card{
  border: 1px solid lightgray;
  width: 213px;
  height: 260px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card img{
  height: 100px;
  width: 100px;
}
